.textPrimary {
  color: var(--text-primary);
  text-transform: capitalize;
}
.headline-1 {
  font-size: var(--headline-1);
}
.headline-2 {
  font-size: var(--headline-2);
}
.headline-3 {
  font-size: var(--headline-3);
}
.linkSize {
  font-size: var(--linkSize);
}
.textJustify {
  text-align: var(--textJustify);
}
